body{
  background-color: rgb(219, 218, 218);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
}

button{
  margin:5px;
  padding:10px 15px;
  border-radius: 3px;
  cursor: pointer;
  border:1px solid lightgray;
  color: black;
  background:#e4e4e4;
}

button:hover:enabled {
  background-color:  #003366;
  color: white;
}

button:disabled{
  cursor:not-allowed;
}

button.primary{
  background: #003366;
  color:white;
  border: none;
}

html {
  --thumbBG: #90A4AE;
}

::-webkit-scrollbar {
  width: 5px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG);
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}