
#regenerate{
    background:rgb(250, 250, 250);
    padding:4px 15px;
    border:0 none;
    cursor:pointer;
    border-radius: 5px;
    margin-bottom:2%
}

ul.classes{
    margin-top: 10px;
    list-style-type: none;
    white-space: nowrap;
    width: 80%;
    padding-left:0;
    font-size: 18px;
    font-weight: 400;
    overflow: hidden;
}

li{
    margin: .5%;
    border-radius: 5px;
    align-content: space-between;
    display: flex;
    flex-direction: row;
    border: 1px solid lightgray;
}

li.unselected{
    background:#e4e4e4;
}

li.selected{
    background:#e4e4e4;
}

li span{
    display:inline-block;
    padding:1%;
}

.planSelect{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    margin: 0 auto;
}

ul.collapsable{
    list-style-type: none;
    width: 100%;
    padding-left:0;
    font-size: 16px;
    white-space: pre-line;
}

ul.collapsable li{
    margin: .5%;
    margin-left: 2%;
    background:#ffffff;
    padding: 1%;
    display:block;
    animation:none;
}