.header{
    display:block;
    position: relative;
    height: 7vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 50px;
}

.banner{
    display:flex;
    max-height:4vh;
    height: 4vh;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex: 1;
    min-height: 20px;
}