.header{
    display:flex;
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-height: 3.5rem;
    min-height: 3.5rem;
    top:0;
    width:100%;
    background: #0C234B;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.banner{
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    flex: 1;
    float:left;
}

.logo{
    font-family: 'Rufina', serif;
    cursor: pointer;
    color:white;
    padding-left: 30px;
}